#fancyMap{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;


    font-family: Microsoft JhengHei;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@keyframes bgToTransparentWhite {
    0%   {background-color: rgba(24, 181, 252, 1); }
/*
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    75%  {background-color: green;}
*/
    75% {background-color: rgba(255,255,255,0.8);}
    100% {background-color: rgba(255,255,255,0);}
}
@keyframes textToBlue {
    0%   {color: #FFF; }
/*
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    75%  {background-color: green;}
*/
    75% {color: rgba(24, 181, 252, 1);}
    100% {color: rgba(24, 181, 252, 0);}
}
@keyframes toTransparent1 {
    0%   {opacity: 1; }
/*
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    75%  {background-color: green;}
*/
    75% {opacity: 1;}
    100% {opacity: 0;}
}

img{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#welcomeCover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    text-align: center;
    background-color: rgba(24, 181, 252, 1);
    z-index: 10000000;
}
.bgToTransparentWhite{
    animation-name: bgToTransparentWhite;
    animation-duration: 6s;
}
.loadingHint{
    display: block;
    width: 100%;
    
    margin: auto;
    margin-top: 280px;
    
    font-size: 36px;
    color: #FFF;
}
.textToBlue{
    animation-name: textToBlue;
    animation-duration: 6s;
}
small{
    font-size: 18px;
}
.loadingImg{
    width: 30px;
    
    margin: auto;
    margin-top: 50px;
}
.toTransparent1{
    animation-name: toTransparent;
    animation-duration: 6s;
}


@keyframes alternativeRLToggle {
    0%   {left: 0; }

    100% {left: 25px;}
}
#filtersWrapper{
    position: absolute;
    top: 10%;
    right: 0px;
    width: 300px;
    height: 70%;
        
/*    background-color: rgba(256,256,256,0.7);*/
    color: #fff;
    z-index: 10000;
    
}



.rightPart{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 230px;
    height: 100%;
    
    padding: 10px;
    
    box-shadow: -1px 1px 5px #555;
    background-color: #456;
    opacity: 0.87;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: bold;
    
    
}
#filtersWrapper .rightPart .loadingHint{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    margin: 0px;
    padding-top: 45%;
    
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    z-index: 1000;
}
#filtersWrapper .rightPart .loadingHint img{
    margin: auto;
}
#filtersWrapper .rightPart .loadingHint h5{
    color: #145;
}
.drawer{
    position: absolute;
    top: 0px;
    left: 0px;
    
    width: 50px;
    height: 100%;
    
    font-size: 25px;
    color: #222;
}
.drawer .icon{
    position: absolute;
    top: 50%;
    left: 0px;
    width: 50px;
    height: 50px;
    
    margin-top: -25px;
    cursor: pointer;
}
.alternativeRLToggle{
    animation-name: alternativeRLToggle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#filterActionBtnWrapper{
    
}
#filters{
    font-size: 20px;
    color: #999;
    text-align: right;
/*    z-index: 1000;*/
    
}

#filters input[type="checkbox"]{
    display: none;
}
#filters input[type="checkbox"]:checked + label{
    background-color: rgba(255,255,255,0.7);
    border-color: #ACC;
    color: #59A;
}
#filters input[type="checkbox"]:checked + label:hover{
    cursor: pointer;
    transition: all 0.2s ease-in 0s; 
    border-color: #FFF !important;
    color: #7BC;
}
#filters label{
    display: block;
    
    padding: 3px;
    margin: 3px;
    border: solid 2px #999;
    border-radius: 3px;
}
#filters label:hover{
    cursor: pointer;
    transition: all 0.2s ease-in 0s; 
    border-color: #FFF !important;
    color: #CCFDFF;
}
#filterActionBtnWrapper #chooseAll{
    display: block;
    width: 150px;
    
    padding: 3px;
    margin: 3px;
    background-color: rgba(0,0,0,0);
    border: solid 2px #999;
    border-radius: 3px;
    cursor: pointer;
    color: #F0F0F0;
    font-size: 20px;
    font-family: Microsoft JhengHei;

    transition: all 0.2s ease-in 0s; 
}
#filterActionBtnWrapper #chooseAll:hover{
    border-color: #Fafafa;
    background-color: rgba(255,255,255,0.7);
    color: #456;

}




#map {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}



/*.onOffSwitchWrapper{
    position: absolute;
    top: 8px;
    left: 30px;
}*/

.onOffSwitch {
    margin-top: 8px;
    margin-left: 120px;
    position: relative;
    width: 80px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onOffSwitch-checkbox {
    display: none;
}

.onOffSwitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 30px;
    padding: 0;
    line-height: 36px;
    border: 2px solid #4680EB;
    border-radius: 36px;
    background-color: #4680EB;
    transition: background-color 0.3s ease-in;
}

.onOffSwitch-label:before {
    content: "";
    display: block;
    width: 33px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 42px;
    border: 2px solid #CCCCCC;
    border-radius: 36px;
    transition: all 0.3s ease-in 0s;
}

.onOffSwitch-checkbox:checked + .onOffSwitch-label {
    background-color: #4CAF50;
}
.onOffSwitch-checkbox:checked + .onOffSwitch-label, .onOffSwitch-checkbox:checked + .onOffSwitch-label:before {
   border-color: #4CAF50;

}

.onOffSwitch-checkbox:checked+.onOffSwitch-label:before {
    right: 0px;
}





.homeBtnWrapper{
    position: absolute;
    bottom: 30px;
    right: 50px;
    width: 65px;
    height:65px;
    border-radius: 50%;
    padding-left: 2.5px;
    padding-top: 2.5px;
    /*color: #FFFFFF;*/
    /*cursor: pointer;*/
    /*background-color: #E53935;*/
    /*box-shadow: 0px 2px 5px #666; */
    z-index: 999999;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.homeBtn{
    position: absolute;
    width: 0px;
    height:0px;
    border-radius: 50%;
    top: 30px;
    left: 30px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #E53935;
    box-shadow: 0px 2px 5px #666; 
    overflow: hidden;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-duration: 1s;
    -o-transition-property: all;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out; 
    
}
.homeBtn.open{    
    width: 60px;
    height:60px;
    top: 0px;
    left: 0px;
}
.homeBtn img {
    position: absolute;
    width: 0px;
    height:0px;
    display:block;    
    top:0px;
    left:0px;
    margin: 0px auto 0px auto;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
   -moz-transition-duration: 1s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-duration: 1s;
    -o-transition-property: all;
    -o-transition-timing-function: ease-in-out;
     transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out;  
}
.homeBtn.open img{   
    top:15px;
    left:15px; 
    width: 30px;
    height:30px;   


}

/*  Ripple */

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}



/* bottomSlider */


.swiper-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 300px;
    margin: 20px auto;
    z-index: 10000;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-shadow: 1px 1px 7px #555;
    border-radius: 1.87px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.append-buttons a {
    display: inline-block;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}


.sliderImgWrapper{
    border: 0px;
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0px;
    bottom: 40%;
    width: 100%;
}

.sliderImg{
 height: 100%;
  width: 100%;
object-fit: cover;

}
.op_type_label{
    background: rgba(0,0,0,0.5);
    padding: 4px 6px !important;
    font-size: 14px;
    color: #48cfad !important;
    position: absolute;
    bottom: 42%;
    left:  4px;
}

.info-area .title {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0 0;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
}

.info-area .chanel-title {
    padding: 0 10px;
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    overflow: hidden;
    color: gray;
}

 .info-area .extra_info {
    color: gray;
    line-height: 24px;
    height: 24px;
    font-size: 8px;
    overflow: hidden;
}

.info-area{
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0px;
    bottom: 0px;
}
